@model CategoryIndexViewModel

@{
    ViewBag.Title = "Index Page";
}

<div class="container-fluid">
    <div class="float-right mt-4 mb-2">
        <a asp-controller="Category" asp-action="Create" class="btn btn-info">Create new</a>
    </div>
    @if (Model.CategoryList.Count > 0)
    {
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Action</td>
            </tr>
            @foreach (var category in Model.CategoryList)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <div class="form-group">
                            <a class="btn btn-success float-left" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit </a>
                            <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                <button type="submit" class="btn btn-danger ml-2" onclick="return confirm('Are you sure?')">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>
            <h4>No records found!</h4>
        </div>
    }

</div>
