@model VideoEditViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid ml-5">
    <div class="row">
        <form enctype="multipart/form-data" method="post" asp-area="Admin" asp-controller="Video" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))" class="form-control">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File"></label>
                <div class="custom-file">
                    <input asp-for="File"
                           class="form-control custom-file-input"
                           accept=".mp4" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Video" asp-action="Index" class="btn btn-danger"> Back </a>
                <input type="submit" value="Update" class="btn btn-success ml-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
